html {
	font-family: Georgia, Verdana, serif;
}

h1, h4, h6, p, dl {
	margin: auto;
	width: 80%;
	padding: 10px;
	text-align: center;
}

h6 {
	color: white;
}

nav {
	background-color: #efefef;
	margin: auto;
	width: 80%;
	padding: 10px;
	text-align: center;

}

body{
	width: 960px;
	margin: 0 auto;
	border: groove;
}

li#nav1, li#nav2, li#nav3, li#nav4 {
	display: inline;
	padding: 5px;
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

body#index {
	background-color: #b30000;
}

body#packers {
	background-color: #FFB612;
}

body#brewers {
	background-color: #B6922E;
}

body#bucks {
	background-color: #EEE1C6;
}

h4 {
	font-weight: bold;
}



dt#home1, dt#home2, dt#home3, dt#home4 {
	font-weight: bold;
	text-decloration: underline;
}

dd#home1, dd#home2, dd#home3, dd#home4 {
	margin: 0px;
	padding: 0px;
}

ul#pack {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
